@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a asp-controller="Admin" asp-action="ManageGames" class="list-group-item list-group-item-action">Games</a>
            <a asp-controller="Admin" asp-action="ManageUsers" class="list-group-item list-group-item-action">Teams</a>
            @* Lägg till fler länkar här i framtiden *@
        </div>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}